{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "preserve",
  "endOfLine": "lf"
}
