<section
  class="flex fixed top-0 z-20 w-full justify-between items-center p-4 h-16 bg-white border-b border-neutral-200"
>
  <div class="flex gap-3 items-center">
    <app-find-pharma-logo class="flex size-10" />
    <span class="font-extrabold hidden lg:block text-2xl text-emerald-500">FindMy Pharma</span>
  </div>
  <div class="flex gap-4 lg:gap-10 items-center">
    @for (item of menuItems; track item.route) {
    <button
      #rla="routerLinkActive"
      class="px-4 py-2 hidden lg:block text-black cursor-pointer outline-none hover:rounded-lg rounded-lg"
      [routerLink]="item.route"
      [routerLinkActiveOptions]="{ exact: true }"
      [class.hover:bg-neutral-100]="!rla.isActive"
      routerLinkActive="bg-emerald-500 hover:bg-emerald-400 text-white rounded-lg"
      (click)="scrollToTop()"
    >
      {{ item.label }}
    </button>
    }

    @if (authService.isAuthenticated()) {
      <button
        type="button"
        (click)="logout()"
        class="flex cursor-pointer items-center justify-center gap-2 rounded-lg border border-red-500 bg-red-500 p-2 text-white outline-none transition-all duration-300 hover:scale-[1.02] hover:bg-red-600 focus:outline-none lg:px-4 lg:py-2"
      >
        <app-logout-icon-svg class="flex size-5" />
        <span class="hidden text-sm lg:block"> Logout </span>
      </button>
    } @else {
      <button
        type="button"
        (click)="openPatientLoginDialog()"
        class="flex cursor-pointer items-center justify-center gap-2 rounded-lg border border-emerald-500 bg-emerald-500 p-2 text-white outline-none transition-all duration-300 hover:scale-[1.02] hover:bg-emerald-600 focus:outline-none lg:px-4 lg:py-2"
      >
        <app-user-icon-svg class="flex size-5" />
        <span class="hidden text-sm lg:block"> Patient Login </span>
      </button>
    }

    <app-menu-icon-svg
      (click)="openSidebar()"
      class="size-5 flex text-black lg:hidden"
    />
  </div>
</section>
