<section
  #sidebar
  class="fixed right-0 top-0 flex h-screen w-full flex-col overflow-y-auto bg-white shadow-2xl animate-[slideIn_0.3s_ease-out] md:max-w-sm"
>
  <div class="flex h-16 items-center justify-between border-b border-neutral-200 px-4">
    <div class="flex items-center gap-3">
      <app-find-pharma-logo class="flex size-9" />

      <span class="font-semibold text-neutral-800">FindMy Pharma</span>
    </div>

    <button
      (click)="closeSidebar(sidebar)"
      class="flex size-10 cursor-pointer items-center justify-center rounded-xl transition-all duration-300 hover:bg-neutral-100"
    >
      <app-close-icon-svg class="size-4 text-black" />
    </button>
  </div>

  <div class="flex flex-col gap-2 p-4">
    @for (item of menuItems; track item.route) {
    <button
      #rla="routerLinkActive"
      [routerLink]="item.route"
      routerLinkActive="bg-emerald-500 text-white"
      [routerLinkActiveOptions]="{ exact: true }"
      class="rounded-xl px-4 py-3 text-left text-sm font-medium text-neutral-700 transition-all duration-300 cursor-pointer hover:bg-neutral-100"
      [class.hover:bg-emerald-400]="rla.isActive"
      (click)="closeSidebar(sidebar)"
    >
      {{ item.label }}
    </button>
    }
  </div>
</section>
